body {
    background-color: #CADCFC;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navitem-wrapper {
    display: flex;
}

.logo {
    white-space: nowrap;
    background-color: #8eb5f9;
    border-radius: 4px;
}

.logotext {
    color: #001f5e;
    font-size: 22px;
    margin: 0 20px 0 20px;
    font-weight: bolder;
}

.navitem {
    border-radius: 4px;
    padding: 4px 20px;
    display: flex;
    justify-content: flex-start;
    height: 30px;
    align-items: center;
    transition-duration: 0.2s;
}

.navitem:hover {
    background-color: #a7c7fd;
}

.navtext {
    color: #00246B;
    font-size: 20px;
    font-weight: bold;
}

.intro-div {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.intro-text-div {
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
}

.intro-desc {
    font-size: 20px;
    margin: 0;
}

.intro-text {
    font-size: 48px;
    margin: 0px;
}

.intro-image {
    max-width: 100%;
    max-height: 100%;
}

.intro-learn-more {
    background-color: #8eb5f9;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    width: 50%;
    transition-duration: 0.2s;
}

.intro-learn-more:hover {
    background-color: #8eb5f9be;
}

#intro-learn-more-wrap {
    display: flex;
    justify-content: center;
}

.intro-image {
    border-radius: 8px;
}

.trials-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trials-title {
    background-color: red;
}

.trials-title-text {
    font-size: 30px;
    margin: 0 0 10px 0;
}

.trials {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.trials p {
    margin: 0;
}

.trial {
    display: flex;
    gap: 30px;
    align-items: center;
}

.trial-name {
    font-size: 24px;
}

.trial-desc {
    font-size: 20px;
}

.trial-sign-up {
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    background-color: #deeaff;
}

.trial-sign-up:hover {
    background-color: #deeaffa9;
}