body {
    background-color: #CADCFC;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navitem-wrapper {
    display: flex;
}

.logo {
    white-space: nowrap;
    background-color: #8eb5f9;
    border-radius: 4px;
}

.logotext {
    color: #001f5e;
    font-size: 22px;
    margin: 0 20px 0 20px;
    font-weight: bolder;
}

.navitem {
    border-radius: 4px;
    padding: 4px 20px;
    display: flex;
    justify-content: flex-start;
    height: 30px;
    align-items: center;
    transition-duration: 0.2s;
}

.navitem:hover {
    background-color: #a7c7fd;
    cursor: pointer;
}

.navtext {
    color: #00246B;
    font-size: 20px;
    font-weight: bold;
}

.intro-div {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.intro-text-div {
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
}

.intro-desc {
    font-size: 20px;
    margin: 0;
}

.intro-text {
    font-size: 48px;
    margin: 0px;
    color: #00246B;
}

.intro-image {
    max-width: 100%;
    max-height: 100%;
}

.intro-learn-more {
    background-color: #8eb5f9;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    width: 50%;
    transition-duration: 0.2s;
}

.intro-learn-more:hover {
    background-color: #8eb5f9be;
    cursor: pointer;
}

#intro-learn-more-wrap {
    display: flex;
    justify-content: center;
}

.intro-image {
    border-radius: 8px;
}

.trials-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.trials-title {
    display: flex;
    flex-direction: flex-start;
}

.trials-title-text {
    font-size: 30px;
    margin: 0 0 10px 0;
}

.trials {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.trials p {
    margin: 0;
}

.trial {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.trial-name {
    font-size: 24px;
    color: #00246B;
}

.trial-desc {
    font-size: 20px;
}

.trial-info {
    display: flex;
    flex-direction: column;
}

.trial-sign-up {
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    background-color: #deeaff;
    transition-duration: 0.2s;
}

.trial-sign-up:hover {
    background-color: #deeaffa9;
    cursor: pointer;
}

.about-us {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.about-title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title-div p {
    margin: 0;
}

.about-title-text {
    font-size: 30px;
}

.about-title-desc {
    font-size: 26px;
}

.staff-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.staff-div {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
}

.staff-img {
    height: 300px;
    width: 300px;
    border: 1px solid #00246B;
    border-radius: 4px;
}

.staff-desc-div p {
    font-size: 20px;
    background-color: #8eb5f97e;
    border-radius: 8px;
    padding: 10px;
}

.participate-div {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.reason img {
    width: 70px;
    height: 70px;
}

.reasons-wrapper {
    gap: 8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 616px;
}

.reason {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 180px;
    text-align: center;
}

.why-participate p {
    font-size: 42px;
    color: #00246B;
}

.reason p {
    margin: 0;
    font-size: 20px;
}